h2{
    font-family: The Seasons;
    font-size: 50px;
}
p{
    font-family: Canva Sans;
    text-align: center;
    font-size: larger;
}
.index{
    background-color: #e1e1e0;
}
.Hero img {
    width: 100%;
    height: 600px;
    object-fit: cover; 
}
.Steps{
    margin-top: 40px;
}
/* .Hero .card{
    height: 600px;
    width: 100%;
    display: flex;
    justify-content: center ;
} */
.card{
    
    align-items: center;
    background-color: #e1e1e0;
    display: flex;
    justify-content: space-around;
}
.card img{
    height: 60%;
    width: 60%;
}

.Categories{
    padding: 40px;
    background-color: #242424;
}

.Categories .btn {
    background-color: #e1e1e0; 
    border: none;
    color: #000000;
    padding: 8px 80px;
    text-align: center;
    font-size: 18px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    text-decoration: solid;
}

.Categories .btn:hover {
    background-color: #504e4c; 
}

.AboutUs{
    background-image: url('about_us_bg.png');
    padding: 80px 0;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;

}
.footer {
    padding: 10px;
    text-align: center;
    font-size: 14px;
    color: #f7f7f7;
    background-color: #242424;
}
.icons i{
    margin: 4px;
}